.Banner {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100%;
  font-size: 14px;
}
.Banner img {
  padding-left: 50px;
  width: 100px;
  height: 70px;
  cursor: pointer;
}

.banner-first-navegation {
  background: rgb(0, 0, 0);
  display: flex;
  list-style: none;
  color: #ffff;
  gap: 40px;
  margin: 10px;
}

.banner-first-navegation li {
  cursor: pointer;
}

.search-btn {
  cursor: pointer;
  background: rgb(0, 0, 0);
  border: transparent;

  margin: 20px;
}
